<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Sobre Nós</mat-card-title>
    <img
      mat-card-lg-image
      src="assets/about.jpg"
      alt="Image of a Angular Store"
    />
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae nihil
      eius magnam repellendus, exercitationem explicabo architecto nostrum
      molestiae aspernatur voluptatem molestias obcaecati modi ullam esse natus
      atque quibusdam possimus deleniti. <br />
      <br />
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, sed
      reiciendis odio sunt laboriosam dicta perspiciatis sequi, numquam deserunt
      beatae labore dignissimos amet quaerat distinctio officia doloribus
      explicabo, quidem nesciunt?
    </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-raised-button>LIKE</button>
    <button mat-raised-button>SHARE</button>
  </mat-card-actions>
</mat-card>
