.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  font-size: 2rem;
  padding: 2.5rem 4rem;
  outline: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: var(--mat-sys-level3);
}

mat-icon {
  margin-right: 0.5rem;
  vertical-align: middle;
}

.login-icon {
  font-size: 1.75rem;
  vertical-align: middle;
}

button {
  font-size: 1.25rem;
  color: #fff;
}

.logo-img {
  height: 70px;
  margin-right: 48px;
  background-color: #ffffffd5;
  border-radius: 80%;
}
