.spacer {
  flex: 1 1 auto;
}

.logo-container {
  display: flex;
  align-items: center;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  font-size: 2rem;
  padding: 2.5rem 4rem;
  outline: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: var(--mat-sys-level3);
}

.user-info {
  padding: 0.5rem 1rem;
}

h2 {
  margin: 0;
  font-weight: 400;
  font-size: 2.2rem;
}

mat-icon {
  margin-right: 0.5rem;
}

.login-icon {
  border: 1px solid #fff;
  font-size: 5rem;
  vertical-align: middle;
}

button {
  font-size: 1.25rem;
  color: #fff;
}

.logo-img {
  height: 70px;
  margin-right: 48px;
  background-color: #ffffffd5;
  border-radius: 80%;
}

[mat-menu-item] {
  display: flex;
  align-items: center;
  background-color: rgba(76, 76, 197, 0.623);
}
