<mat-toolbar color="primary">
  <p routerLink="/home" class="logo-container">
    <img src="assets/logo.png" alt="Angular Store Logo" class="logo-img" />
    <span>Angular Store</span>
  </p>

  <span class="spacer"></span>

  <a mat-button routerLink="/home">Home</a>
  <a mat-button routerLink="/about">Sobre</a>

  @if (auth.isAdmin()) {
  <button mat-button routerLink="/admin">Admin</button>
  } @if (auth.isLoggedIn()) {
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item disabled>
      <h4>Bem-vindo, {{ auth.currentUser() || "visitante" }} !</h4>
    </button>
    <button mat-menu-item (click)="logOut()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
  } @else {
  <button mat-icon-button routerLink="/login">
    <mat-icon>login</mat-icon>
  </button>
  }

  <button
    mat-button
    routerLink="/cart"
    [matBadge]="cartService.cartQuantity()"
    [matBadgeHidden]="cartService.cartQuantity() === 0"
    matBadgeColor="accent"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
